# phpstan.neon.dist

parameters:
	level: 9
	paths:
		- src

	reportUnmatchedIgnoredErrors: false

	ignoreErrors:

		# This is caused by member type declaration in \Psr\Log\LoggerAwareTrait
		# which allows member var $logger to be null. In fact, the consuming classes
		# do always set a Logger instance in constrcutor, so $logger is never null.

		- message: '#Cannot call method log\(\) on Psr\\Log\\LoggerInterface\|null\.#'
		  paths:
		  - %currentWorkingDirectory%/src/Psr6CacheMatomoApiClient.php
		  - %currentWorkingDirectory%/src/RetryingMatomoApiClient.php
		  - %currentWorkingDirectory%/src/MatomoApiClient.php
		  - %currentWorkingDirectory%/src/ProcessingMatomoApiClient.php


		# phpstan lets me down after changing some return type documentations throughout the code base
		# by halucinating actual return tpes which aren’t there. For today, I give this up.

		- message: '#should return array<int\|string, mixed> but returns array<mixed, mixed>#'
		  paths:
		  - %currentWorkingDirectory%/src/Psr6CacheMatomoApiClient.php
		  - %currentWorkingDirectory%/src/MatomoApiClient.php
